.movable {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
    width: 45%;
    max-height: 30%;
    display: flex;
}

.movableheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    color: #000;
}

.window {
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    flex-direction: column;
    font-family: Inconsolata, Menlo, Chicago, Geneva;
    overflow: hidden;
    display: flex;
}

.details-bar {
    border: .1rem solid #fff;
    border-top-width: 0.1rem;
    border-right-width: 0.1rem;
    border-bottom-width: 0.1rem;
    border-left-width: 0.1rem;
    border-width: .1rem 0;
    font-weight: 100;
    padding: .4rem .8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 10px;
}

.details-bar,
.separator {
    display: flex;
    flex: none;
    flex-direction: row;
    font-size: 0.5rem;
    justify-content: space-between;
}

.title-bar .title {
    background: #000;
    cursor: default;
    font-family: Chicago_12;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 auto;
    padding: 0 .5em;
    text-align: center;
}

.title-bar button {
    background-color: #fff;
    margin: auto;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: block;
    height: 15px;
    margin: 0 .2rem;
    position: relative;
    transform: scale(.5);
    width: 16px;
}

.window-pane {
    font-size: 15px;
    height: 100%;
    letter-spacing: -.025em;
    overflow-y: scroll;
    padding: 1rem 2rem;
    text-align: justify;
}

.title-bar {
    align-items: center;
    background: linear-gradient(#fff 20%, transparent 0);
    background-size: auto;
    background-clip: border-box;
    background-clip: content-box;
    background-size: 6.6666666667% 13.3333333333%;
    display: flex;
    flex: none;
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.master_container {
    width: 100vw;
    overflow: hidden;
}

.mainLogo {
    height: 42px;
    width: 263px;
    margin-top: auto;
    margin-bottom: auto;
}

body {
    min-height: 100vh;
    min-height: fill-available;
    min-height: -webkit-fill-available;
}

html {
    height: fill-available;
    height: -webkit-fill-available;
}


body {
    width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #1E1E1E;
}

.central_stage {
    margin: auto;
    padding: 0;
    aspect-ratio: 1 / 1;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    position: relative;
}

.desktop {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    padding: 10px;
}

.icon_text {
    margin: 0;
    padding: 0;
}

.desktop-icon {
    display: grid;
    grid-template-rows: 2fr 1fr;
    text-align: center;
}

.icon {
    width: 80%;
    height: 80%;
    margin: auto;
}

.title_header {
    min-height: 100px;
    display: grid;
}

.monitor {
    aspect-ratio: 4 / 3;
    overflow: hidden;
    background-image: url(./img/Mac.svg);
    background-size: cover;
    margin-top: auto;
    margin-bottom: 0px;
    display: grid;
}

.monitor_container {
    display: grid;
}

.screen {
    width: 70.5%;
    height: 59.5%;
    margin: auto;

    background: radial-gradient(52.64% 103.84% at 50% 15.65%, rgba(255, 254, 237, 0.318) 0%, rgba(255, 255, 255, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    border-radius: 26px;
}